<!DOCTYPE html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8" />
  <title>Luxspace</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta property="og:title" content="" />
  <meta property="og:type" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />

  <link rel="manifest" href="site.webmanifest" />
  <link rel="apple-touch-icon" href="images/content/favicon.png" />
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="./css/app.minify.css" />
  <link rel="icon" href="images/content/favicon.png" />

  <meta name="theme-color" content="#000" />
</head>

<body>
  <!-- Add your site or application content here -->
  <!-- <p>Hello World</p> -->

  <!-- Start Hearder -->
  <header class="absolute w-full z-50 px-4">
    <div class="container mx-auto py-5">
      <div class="flex flex-strech items-center">
        <div class="w-56 flex items-center">
          <img src="./images/design/logo.png " alt="Luxspace - sebuah website yang menjual barang keren">
        </div>

        <!-- start: menu hamburger wrapper -->
        <div class="w-auto">
          <ul
            class="fixed bg-white inset-0 flex-col invisible items-center justify-center opacity-0 md:visible md:flex-row md:bg-transparent md:relative md:opacity-100 md:flex">
            <li class="mx-3 py-6 md:py-0">
              <a href="#" class="text-black md:text-white hover:underline ">
                Showcase
              </a>
            </li>
            <li class="mx-3 py-6 md:py-0">
              <a href="#" class="text-black md:text-white hover:underline ">
                Catalog
              </a>
            </li>
            <li class="mx-3 py-6 md:py-0">
              <a href="#" class="text-black md:text-white hover:underline ">
                Delivery
              </a>
            </li>
            <li class="mx-3 py-6 md:py-0">
              <a href="#" class="text-black md:text-white hover:underline ">
                Rewards
              </a>
            </li>
          </ul>
        </div>
        <!-- end: menu hamburger wrapper -->
        <div class="w-auto">
          <ul class="flex items-center">
            <li class="ml-6 block md:hidden">
              <button id="menu-toggler"
                class="relative flex z-50 items-center justify-center w-8 h-8 text-black md:text-white focus:outline-none">
                <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-list" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
              </button>
            </li>
            <li class="ml-6">
              <a href="">

              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <!-- End Header -->

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () {
      ga.q.push(arguments);
    };
    ga.q = [];
    ga.l = +new Date();
    ga("create", "UA-XXXXX-Y", "auto");
    ga("set", "anonymizeIp", true);
    ga("set", "transport", "beacon");
    ga("send", "pageview");
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>